@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Bold.ttf") format("truetype");
    font-weight: 700;
}


@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Regular.ttf") format("truetype");
    font-weight: normal;
}

$font-family-base: 'Gilroy';

@import '~bootstrap/scss/bootstrap';
@import "~font-awesome";

.bg-gradient {
    background: rgb(11, 88, 134) !important;
    background: linear-gradient(90deg, rgba(11, 88, 134, 1) 0%, rgba(56, 182, 255, 1) 50%) !important;
}
